<h4>Current Price: <span id="current_price"></span></h4>
<p>Find me in app/views/static_pages/welcome.html.erb</p>

<script type="text/javascript">
	//store the BPI Object
	var bpiList = [];
	var currentPriceEl = document.getElementById("current_price");

	//Stream Observable, get from the url(API coindesk)
	var requestStream = Rx.Observable.just("http://api.coindesk.com/v1/bpi/currentprice.json");	

	//Stream Observable, making plain objecto get from the promise of Response
	var responseStream = requestStream.flatMap(function(requestUrl){
		return Rx.Observable.fromPromise($.getJSON(requestUrl));
	});

	//this stream will be execute each minute, starting when the page is loaded
	var streamByMinute = Rx.Observable.interval(60000).startWith("startup");

	//subscription
	streamByMinute.subscribe(function(interval){
		console.log("interval"+interval);
		actionResponse();
	});

	//Actions when getting the response
	function actionResponse(){
		//Subscription for responseStream, I wanna watch the objectBpi(Bitcoin price index) and do some stuff Here.
		responseStream.subscribe(function(objectBpi){
			var price = objectBpi.bpi.USD.rate;
			//store the attr rate			
			bpiList.push(price);
			//Show in View
			currentPriceEl.textContent = price + "$";
						
		});
	}

</script>