<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="#"  class="navbar-brand">
				Info-BCoin
			</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<%= link_to "Home", root_path %>					
				</li>				
			</ul>
		</div>

	</div>	
</nav>
<!-- Content -->

<div class="container" id="cont-dash" role="main">
	<div class="panel panel-default">	 	
		<div class="panel-body">
			<h2 class="page-header">Welcome to Info-BCoin</h2>

			<table class="table table-striped table-bordered" id="dashboard" >				
				<thead>
					<tr>
						<th>Current Price <span id="updateTimeLeft">
							(<span id="timeLeft"></span>)
						</span> </th>
						<th align="center">History data </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="5" align="center">
							<h3>
								<span id="current_price"></span>
							</h3>
							
						</td>
						<td id="oneMinAgo" align="center">Waiting..</td>
						
					</tr>
					<tr>
						<td id="twoMinAgo" align="center">Waiting..</td>
					</tr>
					<tr>
						<td id="threeMinAgo" align="center">Waiting..</td>
					</tr>
					<tr>
						<td id="fourMinAgo" align="center">Waiting..</td>
					</tr>
					<tr>
						<td id="fiveMinAgo" align="center">Waiting..</td>
					</tr>
					<tr>
						<td align="right"><h4>Rolling Average:</h4></td>
						<td align="center"><span id="rolling_average">Please Wait. </span></td>
					</tr>
				</tbody>
			</table>
			
			
		</div>  		
	</div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom ">
	<div class="container" id="info">
		<span> Data Provided by: </span> <a href="http://www.coindesk.com/price/">CoinDesk</a>
	</div>
</div>